*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* header and nav bar style start */
#header{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    height: 800px;
    padding: 50px 100px;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .nav-bar .logo img{
    width: 100px;
    height: 60px;
}
#header .nav-bar .menu ul{
    display: flex;
}
#header .nav-bar .menu ul li{
    list-style: none;
    margin-left: 50px;
}
#header .nav-bar .menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
#header .nav-bar .menu ul li a:hover{
    color: #FD6E0A;
}
#header .banner-content{
    text-align: end;
    margin-top: 75px;
}
#header .banner-content h2{
    font-size: 65px;
    font-weight: bold;
}
#header .banner-content p{
    margin-top: 20px;
    line-height: 25px;
}
#header .banner-content button{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 25px;
    margin-top: 20px;
}
#header .banner-content button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
/* header and nav bar style End */
