*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#header{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    height: 800px;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}
#header .nav-bar .logo img{
    width: 100px;
    height: 60px;
}
#header .nav-bar .menu ul{
    display: flex;
}
#header .nav-bar .menu ul li{
    list-style: none;
    margin-left: 50px;
}
#header .nav-bar .menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
#header .nav-bar .menu ul li a:hover{
    color: #FD6E0A;
}